.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: #DDDDDD;
    flex-basis: 300px;
    height: 300px;
    border-radius: 15%;
}
body{
    background-color: #76885B;
}
.text{
    text-align: center;
}
.text > h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text > h1{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.text > p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

button{
    background-color: #EEEEEE;
    border: 0;
    border-radius: 10%;
}

@media(max-width: 600px){
    .container{
        display: block;
        gap: 20px;
    }
}